---
---

@import "{{ site.theme }}";
#banner {
  background-color: #c2c2c2;
  border: 1px solid #ffffff;

  .button {
    border: 1px solid #535353;
    background: linear-gradient(#828181, #4e4e4e);

    :hover {
      background: linear-gradient(#4e4e4e, #828181);
    }
  }

  .downloads {
    span {
      color: #4276b6;
    }

    .contact {
      position:absolute;
      height: 36px;
      width: 36px;
      display: block;
    }
    .linkedin {
      background: url(../images/linkedin.svg);
    }
    .github {
      background: url(../images/github.svg);
    }
    .email {
      background: url(../images/email.png);
    }
  }
}